#containmsg{
    padding: 0;
    display:flex;    
}

#elements{
    background-color: transparent;
    margin: 0;
    margin-right: .625rem;
    padding: 0;
}

#msg{
    max-width: 70%;
    display: inline-flex;
    opacity: 1;
    padding-left: .9375rem;
    border-radius:.9375rem;
    box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.325);
}

.oth{
    align-content: center;
    justify-content: flex-start;
}

.env{
    justify-content: flex-end;
}

#containmsg{
    padding: .125rem;
}

#msg p{
    margin-bottom: .3125rem;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#msg :first-child{
    font-weight: 500;
    color: #94b8f6;
}

#msg :last-child{
    margin: 0;
    border: 0;
    display: inline-flex;
}

#fecha{
    align-items: flex-end;
    color: #A6ABAD;
    min-width:max-content;
    font-size: .75rem;
}

#cuerpo{
    color: #fff;
}

.cuerpocont{
    text-align: left;
    word-break: break-word;
}

.env div div p{
    display: none;
}
 
.oth div{
    background-color: #202C33;
}

.env div{
    background-color: #005C4B;
}